version: "3"

services:
  app:
    build: .
    ports:
      - "0.0.0.0:8000:8000"
    volumes:
      - .:/django
    networks: 
      - app_network
    labels:
      kompose.service.type: LoadBalancer
      
  postgres:
    image: postgres:13
    restart: always
    environment:
        POSTGRES_DB: "postgres"
        POSTGRES_USER: "postgres"
        POSTGRES_PASSWORD: "postgres"

    volumes: 
      - db:/var/lib/postgresql/data
    networks: 
      - app_network
    

networks:
  app_network:
    driver: bridge
    name: django-framwork

volumes:
  db:
    driver: local
